<% include partials/header %>
<div class="container">
	<div class="jumbotron">
		<h1>Star Wars Catalogue</h1>
		<p>The Force is strong in this app, you may ask about any Star Wars character</p>
	</div>	
</div>

<% include partials/footer %>