<% include partials/header %>

	<div class="jumbotron">
		<h1>Star Wars Catalogue</h1>
		<br>
		<p><strong>The Force is strong in this app!</strong></p>
	</div>

	<div class="row">
		<p class="form-label">You may search for any Star Wars character</p>
		<div class="form">
			<form action="/results" method="GET">
				<div class="form-group">
					<input class="form-control" type="text" name="search" placeholder="ex: Obi Wan Kenobi">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-submit btn-block"><b>Submit</b></button>
				</div>
			</form>
		</div>
	</div>

<% include partials/footer %>