<% include partials/header %>

	<div class="col-xs-12">
		<div class="thumbnail">
			<label><%= data["results"]["name"] %></label>
			<label><%= data["results"]["gender"] %></label>
			<label><%= data["results"]["birth_year"] %></label>
			<!-- <li><%# char["homeworld"] %></li> -->
		</div>
	</div>

<% include partials/footer %>