<% include partials/header %>

<div class="jumbotron">
	<h1>Star Wars Catalogue</h1>
	<br>
	<p><strong>The Force is strong in this app!</strong></p>
</div>

<div class="row result-row">
	<% data["results"].forEach(function(char){ %>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="thumbnail">
				<li class="result-item"><%= char["name"] %></li>		
				<li class="result-item"><%= char["gender"] %></li>
				<li class="result-item"><%= char["birth_year"] %></li>
				<!-- <li><%# char["homeworld"] %></li> -->
			</div>
		</div>		
	<% }) %>
</div>

<% include partials/footer %>