@font-face{
  font-family: "Star Wars";
  src: url(/Starjedi.ttf);
}

@keyframes bg-animation{
	from {background-position: 0 0;}
	to {background-position: 8000px 0;}
} 

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	width: 100%;	
	margin: 0;
	padding: 0;
	font-family: Lato;

	background-image: url(stars.jpg);	
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-size: cover;

	animation: bg-animation 500s linear infinite;
	-ms-animation: bg-animation 500s linear infinite;
  -moz-animation: bg-animation 500s linear infinite;
  -webkit-animation: bg-animation 500s linear infinite;
}

.btn-submit{
  background-color: #FFFC30;
	border-color: #FFF000;
	color: black;
}

.btn-submit:hover, .btn-submit:focus, .btn-submit:active,
.btn-submit.active, .open>.dropdown-toggle.btn-submit, .btn-submit:active:focus{
  color: #FFFC30;
  background-color: #000;
  border-color: #000;
}

.content{
	background-color: #222222;
	border: 1px solid black;
}

.form{
	width: 30%;
	margin: 0 auto;
}

.form-label{
	text-align: center;
	color: white;
	font-size: 24px;
}

.jumbotron{
	color: #FFFC30;
	background-color: black;
	margin-top: 80px;
	word-wrap: break-word;
}

.jumbotron h1{
	font-family: "Star Wars";
	margin-left: 30px;
}

.jumbotron p{
	margin-left: 30px;
}

.navbar-inverse .navbar-brand{
	font-family: "Star Wars";
	color: #FFFC30;
}

.navbar-inverse .navbar-nav > li > a{
	color: white;
}

.thumbnail li label{
	color: black;
}

.result-profiles a, .result-profiles li{
	color: white;
}

.result-label{
	color: #FFFC30;
}

.result-row{
	display: flex;
	flex-wrap: wrap;
}

/*  STAR WARS SCROLLING TEXT  */
.scrolling-text{
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}